# {{ name }}

{{ coctail_desc_short }}
{{% if cocktail_desc %}}
{{ cocktail_desc }}
{{% endif %}}

## Ingredients

| Name | Pour |
| ----------- | ------- |
{% for ingredient in ingredients %}
| {{ ingredient.name }} | {{ ingredient.pour }} oz |
{% endfor %}

{{% if garnish %}}
_Garnish:_ {{ garnish }}
{{% endif %}}
{{% if glass %}}
_Glass:_ {{ glass }}
{{% endif %}}

## Recipe

{{ recipe }}

{% if source %}
source: {{ source }}
{% endif %}

{% if tags %}
{% for tag in tags %}
[^{{loop.index}}]: {{ tag }}
{% endfor %}
{% endif %}